## Step 1: Importing Necessary Libraries

In [2]:
# Data analysis and Manipulation 
import plotly.graph_objs as go 
import plotly.io as pio 
import plotly.express as px 
import pandas as pd 

# Data Visualization 
import matplotlib.pyplot as plt 

# Importing Plotly 
import plotly.offline as py 
py.init_notebook_mode(connected=True) 

# Initializing Plotly 
pio.renderers.default = 'colab'

In [6]:
# Importing Dataset1 
dataset1 = pd.read_csv("D:\\3rd Semester M tech\\Python Projects\\Project_2\\2019_nCoV_data.csv") 
dataset1.head() # returns first 5 rows

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,1/22/2020 12:00,Anhui,China,1/22/2020 12:00,1,0,0
1,2,1/22/2020 12:00,Beijing,China,1/22/2020 12:00,14,0,0
2,3,1/22/2020 12:00,Chongqing,China,1/22/2020 12:00,6,0,0
3,4,1/22/2020 12:00,Fujian,China,1/22/2020 12:00,1,0,0
4,5,1/22/2020 12:00,Gansu,China,1/22/2020 12:00,0,0,0

In [7]:
# Returns tuple of shape (Rows, columns) 
print(dataset1.shape) 

# Returns size of dataframe 
print(dataset1.size)

(24709, 8)
197672

In [8]:
# Information about Dataset1 
# return concise summary of dataframe 
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24709 entries, 0 to 24708
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sno             24709 non-null  int64
 1   Date            24709 non-null  object
 2   Province/State  20627 non-null  object
 3   Country         24709 non-null  object
 4   Last Update     24709 non-null  object
 5   Confirmed       24709 non-null  int64
 6   Deaths          24709 non-null  int64
 7   Recovered       24709 non-null  int64
dtypes: int64(4), object(4)
memory usage: 1.5+ MB

In [10]:
# Importing Dataset2 
dataset2 = pd.read_xlsx("D:\\3rd Semester M tech\\Python Projects\\Project_2\\time_series_covid19_confirmed.xlsx) 
dataset2.head() # return first 5 rows of dataset2

SyntaxError: unterminated string literal (detected at line 2) (1852918364.py, line 2)